#body {
    background: black;
}

#container-countdown {
    display: flex;
    justify-content: center;
    height: 300px;
}

#countdown {
    font-size: 60px;
    margin-top: 100px; 
    border-radius: 20px; 
    background: linear-gradient(to right, #e79a34, #f0f3f5);
    font-family: 'Zen Old Mincho', serif;
    color: #770e2e;
}

.displayNone {
    display: none;
}

.timerDisplay {
    display: block;    
    padding: 30px;
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#myButton {
    height: 120px;
    width: 280px;
    background: #f0efa6a9;;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Zen Old Mincho', serif;
    border: 1px solid #6e1711;
    color: #9e2313;
}

#myButton:disabled {
    color: rgba(255, 255, 255, 0.534);
    background: rgba(128, 128, 128, 0.5);
    border: 1px solid grey;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backBtn {
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Zen Old Mincho', serif;
    background: linear-gradient(to right, #e79a34, #f0f3f5);
    color: #770e2e;
    border: 1px solid #6e1711;
    margin-top: 55px;
    padding: 5px 10px;
}


